 # Skipton School Comparison
 
 ## Introduction
 I want to make an informed decision on school choice for my children. Initially, this will be a comparison of the 4 secondary schools in Skipton using available goverment metrics taken from school-performance.service.gov.uk/compare-schools?for=secondary . I may later compare these schools to other cities where would possibly live in the future, such as Leeds.
 
 ### School and metrics to be assesed
 I will analyse Skipton Girl's High School and Ermysted's Grammar School as they are considered to be the best schools in the town and arguably the best in North Yorkshire. In order to provide comparison I will further compare these with the other schools in Skipton Skipton Academy and Upper Wharfdale School. 
 
## Data Import

In [4]:
import pandas as pd

ks4pro = pd.read_csv('https://raw.githubusercontent.com/EnglishDevil/School-Comparison/master/815_2019_ks4provisional.csv', usecols=("URN","SCHNAME","PTEBACC_95","P8_BANDING","ATT8SCR"),dtype={'URN': 'S75'})
ks4pro['URN'] = ks4pro['URN'].astype(str)
#strip the unwanted junk characters in the URN column
ks4pro['URN'] = ks4pro['URN'].map(lambda x: x.lstrip('b'').rstrip('''))
ks4pro['URN'] = ks4pro['URN'].str.replace("'", "")

In [5]:
census2019 = pd.read_csv('https://raw.githubusercontent.com/EnglishDevil/School-Comparison/master/815_2019_census.csv', usecols=("URN", "PNUMEAL"))
cfr2019 = pd.read_csv('https://raw.githubusercontent.com/EnglishDevil/School-Comparison/master/815_2019_cfr.csv', usecols=('URN', 'TOTALINCOME'))

In [6]:
cfr2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 2 columns):
URN            276 non-null object
TOTALINCOME    313 non-null object
dtypes: object(2)
memory usage: 5.0+ KB

In [7]:
#merge all the 2019 tables

merge2019 = pd.merge(left=ks4pro,right=census2019, how='left', left_on='URN', right_on='URN')
merge2019 = pd.merge(left=merge2019,right=cfr2019, how='left', left_on='URN', right_on='URN')

In [8]:
merge2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 7 columns):
URN            75 non-null object
SCHNAME        72 non-null object
ATT8SCR        55 non-null object
PTEBACC_95     55 non-null object
P8_BANDING     47 non-null object
PNUMEAL        53 non-null float64
TOTALINCOME    31 non-null object
dtypes: float64(1), object(6)
memory usage: 4.7+ KB

In [9]:
#need to fix it so the URN column doesnt give a decimal place to the data
merge2019.loc[(ks4pro['URN'] == "136664") | (merge2019['URN'] == "141179") | (merge2019['URN'] == "121716") | (merge2019['URN'] == "121690")]

,URN,SCHNAME,ATT8SCR,PTEBACC_95,P8_BANDING,PNUMEAL,TOTALINCOME
15,121716,Ermysted's Grammar School,71.4,50.0%,1,5.9,"4,976"
60,141179,The Skipton Academy,37.1,6.6%,4,6.5,NaN
61,136664,Skipton Girls' High School,71.1,77.4%,1,6.2,NaN
68,121690,Upper Wharfedale School,50.2,6.9%,1,6.8,"6,967"

In [10]:
#merge2019.loc[(merge2019['SCHNAME'] == "The Skipton Academy")]