 # Skipton School Comparison
 
 ## Introduction
 I want to make an informed decision on school choice for my children. Initially, this will be a comparison of the 4 secondary schools in Skipton using available goverment metrics taken from school-performance.service.gov.uk/compare-schools?for=secondary . I may later compare these schools to other cities where would possibly live in the future, such as Leeds.
 
 ### School and metrics to be assesed
 I will analyse Skipton Girl's High School and Ermysted's Grammar School as they are considered to be the best schools in the town and arguably the best in North Yorkshire. In order to provide comparison I will further compare these with the other schools in Skipton Skipton Academy and Upper Wharfdale School. 
 
## Data Import

In [2]:
# School comparison code

import pandas as pd
import skiptondata as sk

data2018 = sk.get_skipsch_data(2018)
data2019 = sk.get_skipsch_data(2019)
data2017 = sk.get_skipsch_data(2017)

skipschools = data2019.append([data2018, data2017], ignore_index= True, sort= False)

skipschools

,URN,SCHNAME,ATT8SCR,PTEBACC_95,PNUMEAL,TOTALINCOME,YEAR
0,121716,Ermysted's Grammar School,71.4,50.0%,5.9,"4,976",2019
1,141179,The Skipton Academy,37.1,6.6%,6.5,NaN,2019
2,136664,Skipton Girls' High School,71.1,77.4%,6.2,NaN,2019
3,121690,Upper Wharfedale School,50.2,6.9%,6.8,"6,967",2019
4,136664,Skipton Girls' High School,67.8,69%,3.8,NaN,2018
5,121690,Upper Wharfedale School,43.3,2%,6.2,"7,114",2018
6,141179,The Skipton Academy,33.6,2%,7.6,NaN,2018
7,121716,Ermysted's Grammar School,67.0,36%,6.5,"4,826",2018
8,136664,Skipton Girls' High School,71.9,83%,3.1,NaN,2017
9,141179,The Skipton Academy,42.9,7%,8.5,NaN,2017
10,121690,Upper Wharfedale School,51.4,9%,6.2,"7,281",2017
11,121716,Ermysted's Grammar School,71.2,53%,7.5,"4,982",2017